TeamFit/TeamFit.xcodeproj/project.xcworkspace/xcshareddata/TeamFit.xccheckout
TeamFit/TeamFit.xcodeproj/xcuserdata/pritesh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TeamFit/.DS_Store
.DS_Store
