TeamFit/TeamFit.xcodeproj/project.xcworkspace/xcshareddata/TeamFit.xccheckout
TeamFit/TeamFit.xcodeproj/xcuserdata/pritesh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TeamFit/.DS_Store
TeamFit/TeamFit.xcodeproj/project.pbxproj
TeamFit/TeamFit.xcodeproj/project.xcworkspace/xcuserdata/npatel.xcuserdatad/UserInterfaceState.xcuserstate
